/* Modes */

#ctg-modeContainer {
  flex: 0;
  display: flex;
  list-style-type: none;
  padding: 5px;
  border-bottom: 2px groove var(--color-border-dark-4, #444);
  margin: 0;
  gap: 5px;
  flex-wrap: wrap;
  text-shadow: 1px 1px 4px var(--color-shadow-dark, #000);
}

#ctg-modeBox {
  width: 100%;
  height: 2em;
  flex: 1 0 25%;
  display: flex;
}

#ctg-modeBox > input {
  display: none;
}

[name="ctg-mode-radio"]:checked + #ctg-modeLabel,
[name="ctg-mode-radio-popOut"]:checked + #ctg-modeLabel {
  background-color: rgba(255, 100, 0, 0.25);
}

#ctg-modeLabel {
  border: solid var(--color-border-light-1, #ddd) 1px;
  border-radius: 3px;
  cursor: pointer;
  padding: 5px;
  width: 100%;
  text-align: center;
}

/* Toggles */

.ctg-toggle.directory-item.active:not([open]) {
  border-top: solid 1px;
  border-bottom: solid 1px;
  border-color: var(--color-border-highlight, #ff6400);
}

.ctg-toggle[open] > .ctg-labelBox {
  background: rgba(255, 255, 255, 0.2);
}

.ctg-labelBox {
  text-shadow: 1px 1px 4px var(--color-shadow-dark, #000);
  cursor: pointer;
  line-height: calc(var(--sidebar-item-height, 48px) / 2);
  padding: 0 6px;
  background: rgba(0, 0, 0, 0.5);
  border-top: 1px solid var(--color-border-dark, #000);
  border-bottom: 1px solid var(--color-border-dark, #000);
}

.ctg-labelFlex {
  display: inline-flex;
  width: calc(100% - 22px);
  justify-content: flex-start;
  gap: 5px;
  cursor: default;
  padding: 6px 0;
}

.ctg-labelFlex > * {
  margin: auto 0;
}

.ctg-labelName {
  flex-grow: 1;
}

.ctg-labelCount {
  font-size: 14px;
  visibility: hidden;
  flex-basis: 2em;
  text-align: center;
}
.ctg-labelCount::before {
  content: "(";
}
.ctg-labelCount::after {
  content: ")";
}

.ctg-labelFlex:hover .ctg-labelCount {
  visibility: visible;
}

.ctg-labelCount::before,
.ctg-labelCount::after {
  color: var(--color-text-light-4, #bbb);
}

.ctg-labelValue {
  flex-basis: 2em;
  text-align: right;
  font-size: 16px;
  text-overflow: ellipsis;
}

.ctg-saveMob {
  flex: 0;
  line-height: 1;
  background: transparent;
  border: none;
  padding: 0 5px;
  cursor: pointer;
}

.ctg-saveMob:hover {
  filter: brightness(1.25);
}

.ctg-toggle[open] > .ctg-labelBox > .active {
  animation: fadein 0.25s ease-in;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
